<div class="posts">
  @foreach(var post in Model.content) {
  
  <div class="post">
	<h3 class="post-title">
	  <a href="posts/@post.filename">@post.frontmatter.title</a>
	</h3>
	<span class="post-date">
		@post.frontmatter.created.ToString(Model.config.dateFormat) 
	</span>
	<p>@Raw(post.excerpt)<a class="read-more" href="posts/@post.filename">&raquo;</a></p>
  </div>
  }
</div>

<div class="pagination">
    @if (Model.prev > 0) {
    	<a class="pagination-item older" href="posts/@Model.prevFileName">Older</a>
     } else { 
	<span class="pagination-item older">Older</span>
     }
     
     @if (Model.next > 0) {
	<a class="pagination-item newer" href="posts/@Model.nextFileName">Newer</a>
     } else {
     	<span class="pagination-item newer">Newer</span>
     }
</div>	
