@model Jotter.Core.IndexViewModel
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    @foreach (var post in Model.content) {
      <li>
		<span>@post.frontmatter.created</span> &raquo; 
		<a href="@post.filename">@post.frontmatter.title</a>
		<div>@post.excerpt</div>
	  </li>
    }
  </ul>
</div>
